{% extends 'base.html.twig' %}

{% block title %}Association Lamp - Agir{% endblock %}

{% block body %}
<div class="container-fluid">
<div class="header-custom hc-agir">
</div>
<h2 class="titre-prin-pag"> Agir avec nous</h2>

<div class="row d-flex justify-content-center">
<div class="agi col-lg-6 my-5 text-center">
<h4 class="sous-titre-prin">J'agis avec une donation</h4>
    <p class="para-present">Grâce à votre générosité l'association Lamp pour le développement continue à assisté de plus en plus de gens dans le besoin. Merci!</p>
    <a href="https://www.helloasso.com/associations/association-lamp-pour-le-developpement-du-senegal/formulaires/1" target="_blank" class="don-li"><span class="don">Faire un don</span></a> 
</div>
    <div class="col-lg-6 my-5 text-center">
    <h4 class="sous-titre-prin">Je deviens Bénévole</h4>
        <p class="para-present">vous pouvez aider de plusieurs façons.Nous avons besoin de nombreux métiers au sein des secteurs d'intervention de l'association.
        Si aider les autres vous passione, et aussi défendre une bonne cause vous tient à coeur, contactez nous afin de rejoindre nos équipes ou créer votre propre équipe.</p>
    <b class="para-present"> <i class="fa-solid fa-phone"></i> Par téléphone au +33 6 98 57 68 24</b> <br>
    <b class="para-present"><i class="fa-solid fa-at"></i> Adresse Mail: lampdevs@gmail.com</b>
</div>
</div>
</div>
{% endblock %}

