{% extends 'base-admin.html.twig' %}

{% block title %}Edit Mission{% endblock %}

{% block body %}
    <h1>Edit Mission</h1>

    {{ include('admin_mission/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_mission_index') }}">Retour</a>

    {{ include('admin_mission/_delete_form.html.twig') }}
{% endblock %}
